<div class="content-title col-md-12">
        <span>
            <ng-locale name="make.your.own.trip.day.{{page.day_count}}.options">day options</ng-locale>
        </span>
</div>


<div ng-repeat="p in page.destinations" >
    <div class="tour-box" >
        <div class="info" >
            <div style="float: left;width: 100%;text-align: left" ng-repeat="hpage in p.destinations" class="tour-title" id = "page_title_{{p.id}}">

                <ng-locale name="make.your.own.trip.day">Day</ng-locale>
                {{$index + 1}}

                <span ng-bind-html="deliberatelyTrustAsHtml(concat_titles({{p.id}},hpage))"></span>
                <input type="hidden" id = "page_info_{{p.id}}" value="{{p.info}}">
            </div>

        </div>
        <div class="tour-buttons" >
            <div class="btn-group btn-group-justified">

                <div class="btn-group book"   ng-if="p.add_trip">
                    <button onmouseover="book_button_target(this, 1)"
                            onmouseout="book_button_target(this, 2)"
                            selected-id="{{p.id}}"
                            onclick="addTrip(this);"
                            data-id="{{p.id}}"
                            type="button"
                            style="float: right;margin-top:  {{-25 -15*( page.day_count-1) }}px "
                            class="btn btn-default blue">

                        <ng-locale name="make.your.own.trip.add">Add</ng-locale>
                    </button>
                    <!--</add-trip>-->
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="hpage in p.destinations" style="display: none" class="clist-item-{{p.id}}">
        <div class="list-item page_{{p.id}} " style="width: 188px;">
            <div class="item-title">
                <ng-locale name="make.your.own.trip.day">Day</ng-locale>
                {{$index + 1}}
            </div>
            <div class="item-box">
                <div class="item-image">
                    <img src="{{ hpage[0].postImage }}"/>
                </div>
                <div class="item-info">
                    <div class="title" ng-bind-html="deliberatelyTrustAsHtml(concat_titles({{p.id}},hpage))">
                    </div>
                    <div ng-repeat="singledest in hpage">
                        <input type="hidden" class="dtext_{{$index + 1}}" value="{{singledest.content}}"/>
                    </div>
                </div>
                <div class="item-button">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group remove">
                            <button type="button" name="{{p.id}}" class="btn btn-default red" onclick="removeTrips(this)">
                                <ng-locale name="make.your.own.trip.remove">remove</ng-locale>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>