<style type="text/css">
    .destinations .tours-boxs.small .tour-box {
        height: 136px;
        width: 570px;
    }
    .tour-img{
        width: 220px;
        float: left;
    }

   /* .info{
        width: 330px;
        float: left;
    }
*/
</style>

<div class="tour-box" >
    <div class="tour-img">
        <box-more-info page-id='{{page.id}}' page-type="{{page.page_type}}">
            <img style="cursor:pointer" id="img_{{page.id}}" ng-src="{{page.img}}"/>
        </box-more-info>
    </div>
    <div class="info" >
        <div class="tour-title" id = "page_title_{{page.id}}">
            {{page.title}}
            <input type="hidden" id = "page_info_{{page.id}}" value="{{page.info}}">
        </div>
    </div>
    <div class="tour-buttons">
        <div class="btn-group btn-group-justified">
            <!--
            <div class="btn-group more-info" ng-if="page.has_more_info">
                <box-more-info page-id='{{page.id}}' page-type="{{page.page_type}}">
                    <button onmouseover="more_info_button_target(this, 1)"
                            onmouseout="more_info_button_target(this, 2)"
                            selected-id="{{page.id}}"
                            type="button"
                            class="btn btn-default">
                        <ng-locale name="more.info.button"></ng-locale>&lt;!&ndash;More Info&ndash;&gt;
                    </button>
                </box-more-info>
            </div>
            -->
            <div class="btn-group book" style="width: 566px"  ng-if="page.add_trip">
                <!--<add-trip page-id='{{page.id}}' page-type="{{page.page_type}}">-->
                    <button onmouseover="book_button_target(this, 1)"
                            onmouseout="book_button_target(this, 2)"
                            selected-id="{{page.id}}"
                            onclick="addTrip(this);"
                            data-id="{{page.id}}"
                            type="button"
                            style="float: right"
                            class="btn btn-default blue">

                        <ng-locale name="make.your.own.trip.add">Add</ng-locale>
                    </button>
                <!--</add-trip>-->
            </div>
        </div>
    </div>
</div>

<div ng-repeat="hpage in page.destinations" style="display: none" class="clist-item-{{page.id}}">
    <!--{{ concat_titles(hpage)}}-->
    <div class="list-item page_{{page.id}} " style="width: 188px;">
        <div class="item-title">
            <ng-locale name="make.your.own.trip.day">Day</ng-locale>
            {{$index + 1}}
        </div>
        <div class="item-box">
            <div class="item-image">
                <img src="{{ hpage[0].postImage }}"/>
            </div>
            <div class="item-info">
                <div class="title" ng-bind-html="deliberatelyTrustAsHtml(concat_titles({{page.id}},hpage))">
                </div>
                <div ng-repeat="singledest in hpage">
                    <input type="hidden" class="dtext_{{$index + 1}}" value="{{singledest.content}}"/>
                </div>
            </div>
            <div class="item-button">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group remove">
                        <button type="button" name="{{page.id}}" class="btn btn-default red" onclick="removeTrips(this)">
                            <ng-locale name="make.your.own.trip.remove">remove</ng-locale>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>