<style type="text/css">
    .tours-boxs.small .tour-box {
        height: 230px;
        width: 270px;
    }
    .destinations .tours-boxs.small .tour-box {
        height: 230px;
        width: 270px;
    }
    
</style>

<div class="tour-box" >
    <div class="tour-img">
        <box-more-info page-id='{{page.id}}' page-type="{{page.page_type}}">
            <img style="cursor:pointer" id="img_{{page.id}}" ng-src="{{page.img}}"/>
        </box-more-info>
    </div>
    <div class="info" >
        <div class="tour-title" id = "page_title_{{page.id}}">
            {{page.title}}
            <input type="hidden" id = "page_info_{{page.id}}" value="{{page.info}}">
        </div>
    </div>
    <div class="tour-buttons">
        <div class="btn-group btn-group-justified">
            <div class="btn-group more-info" ng-if="page.has_more_info">
                <box-more-info page-id='{{page.id}}' page-type="{{page.page_type}}">
                    <button onmouseover="more_info_button_target(this, 1)" onmouseout="more_info_button_target(this, 2)"  selected-id="{{page.id}}" type="button" class="btn btn-default">
                        <ng-locale name="more.info.button"></ng-locale><!--More Info-->
                    </button>
                </box-more-info>
            </div>
            <div class="btn-group book"  ng-if="page.add_trip">
                <!--<add-trip page-id='{{page.id}}' page-type="{{page.page_type}}">-->
                    <button onmouseover="book_button_target(this, 1)" onmouseout="book_button_target(this, 2)"   selected-id="{{page.id}}" 
                            onclick="addTrip(this);" data-id="{{page.id}}"  type="button" class="btn btn-default blue">
                        Add
                    </button>
                <!--</add-trip>-->
            </div>
        </div>
    </div>
</div>

