

    <div class="tour-box">
        <a href="{{republic.url_}}" style="text-decoration: inherit;font-style: inherit; color: inherit;">
            <div class="tour-img">
                <box-more-info page-id='{{republic.id}}' page-type="{{republic.page_type}}">
                    <img ng-src="{{republic.img}}"/>
                </box-more-info>
            </div>
            <div class="info">
                <div class="tour-title">
                    {{republic.title}}
                </div>
                <div class="tour-info" ng-bind-html="deliberatelyTrustAsHtml(republic.info)" > </div>
            </div>

        </a>
        
        <div class="tour-buttons">
            <div class="btn-group more-info">
                <button class="btn btn-default" onclick="more_info_country(this)"
                        onmouseover="more_info_button_target(this, 1)" onmouseout="more_info_button_target(this, 2)"
                        type="button"  data-redirect="republic.action?postId={{republic.id}}" >
                    <ng-locale name="moreInfo.button"></ng-locale><!--More Info-->
                </button>
            </div><!--data-ng-click="goTo($event)"-->
        </div>
    </div>
 