<!--<div class="content-container">-->

<article id="post-{{page.id}}"
         class="post-1398 post type-post status-publish format-standard has-post-thumbnail hentry category-statyi">

    <header class="entry-header">

        <div class="element effect-1">
            <div class="entry-thumbnail">
                <img width="400" height="351"
                     ng-src="{{page.img}}"
                     class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{page.name}}"
                     sizes="(max-width: 400px) 100vw, 400px"></div><!-- .entry-thumbnail -->

            <a href="{{page.url_}}" class="link-hover" rel="bookmark">
                <span class="link-button">
                    Читать далее...
                </span>
            </a>

        </div><!-- .element -->

        <h1 class="entry-title">
            <a href="{{page.url_}}" rel="bookmark">{{page.name}}</a>
        </h1>
    </header><!-- .entry-header -->


    <div class="entry-summary">
        <p ng-bind-html="deliberatelyTrustAsHtmlWithLength(page.description)"></p>
    </div><!-- .entry-summary -->


    <!--<footer class="entry-meta">

				<span class="post-date">
					<span class="entry-date"><a
                            href="http://zheldor-kovka.ru/vybor-lestnicy-dlya-chastnogo-doma-na-chto-obratit-vnimanie-pered-pokupkoj/"
                            title="09.03.2017" rel="bookmark"><time class="entry-date"
                                                                    datetime="09.03.2017">09.03.2017</time></a></span> <span
                        class="byline"><span title="kovka" class="author vcard"><a class="url fn n"
                                                                                   href="http://zheldor-kovka.ru/author/kovka/"
                                                                                   rel="author">kovka</a></span></span>				</span>

    </footer>--><!-- .entry-meta -->

</article><!-- #post -->

<!--</div>-->