<style type="text/css">
    #pp_full_res img{
        width: 640px;
        height: 419px;
    }
</style>

<div class="content-container">
    <div ng-model="selectedPage" id="selectedPage" ng-show="selectedPage != null"
         class="tour-box-large-description col-md-10" ng-if="selectedPage != null">

        <article id="post-{{page.id}}" class="post-89 page type-page status-publish hentry">

            <header class="entry-header">

                <h1 class="entry-title" ng-bind="selectedPage.title"></h1>


            </header><!-- .entry-header -->

            <div class="entry-content">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-10">
                        <div ng-bind-html="deliberatelyTrustAsHtml(selectedPage.description)"></div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-2">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper" >
                                <div class="wpb_single_image wpb_content_element vc_align_left"  ng-repeat="d in iteration(selectedPage.images,1,5,1)"  >

                                    <figure class="wpb_wrapper vc_figure">
                                        <a rel="prettyPhoto[a]"
                                           ng-href="{{d}}"
                                           class="vc_single_image-wrapper   vc_box_border_grey prettyphoto">
                                            <img ng-src="{{d}}"
                                                 class="list-slider vc_single_image-img attachment-medium"
                                                 alt="Кованые ворота и калитка"
                                                 sizes="(max-width: 300px) 100vw, 300px" height="225"
                                                 width="300/">
                                        </a>
                                    </figure>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>
                                        <span style="color: #000000;">
                                            У нас большая коллекция общедоступных эскизов. Вы можете подобрать из ниже расположенного списка эскизов для себя, что-то понравившееся&nbsp;или же заказать у нас <strong>уникальный эскиз</strong>, который наш художник разработает специально под вас. Цена&nbsp;разработки эскиза при заказе изделия у нас&nbsp;будет бесплатной. Мы гарантируем уникальность эскиза и изделия.
                                        </span>
                                        </p>
                                        <p>
                                        <span style="color: #000000;">
                                            Для заказа изделия(Кованых ворот) нужно лишь через
                                            <a  href="http://zheldor-kovka.ru/obratnaya-svyaz/">
                                                <span  style="color: #ff0000;">раздел обратной связи</span>
                                            </a>
                                            прислать нам номер понравившегося эскиза или позвонить по телефону
                                            <strong>8 495&nbsp;642-40-66</strong>, также можете отправить заявку почтой на адрес
                                            <strong>Kovka@Zheldor-Kovka.ru</strong></span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_row wpb_row vc_row-fluid"
                     ng-repeat="row in selectedPage.viewProducts" ng-init="sectionIndex = $index * 6">
                    <div class="wpb_column vc_column_container vc_col-sm-2" ng-repeat="p in row">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <h2 class="wpb_heading wpb_singleimage_heading" ng-if="p.price == null">Эскиз
                                        №{{$index+1 + sectionIndex}}</h2>
                                    <h2 class="wpb_heading wpb_singleimage_heading" ng-if="p.price != null"> Эскиз
                                        №{{$index+1 + sectionIndex}} &nbsp; {{p.price}} р/кв.м.</h2>
                                    <figure class="wpb_wrapper vc_figure" ng-init="loadScrip_()">
                                        <a rel="prettyPhoto[gallery1]" href="{{p.image}}" title="№{{$index+1 + sectionIndex}}"
                                           class="vc_single_image-wrapper vc_box_border_grey test"
                                        >
                                            <img src="{{p.image}}" height="202" width="300"
                                                 class="vc_single_image-img attachment-medium"
                                            />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <footer class="entry-footer">
                    <div class="entry-meta">
                    </div> <!-- .entry-meta -->

                </footer><!-- .entry-footer -->
            </div><!-- .entry-content -->
        </article><!-- #post-## -->
    </div>
</div>
