<div ng-model="selectedPage" id="selectedPage" ng-show="selectedPage != null" class="tour-box-large-description col-md-12" ><!--ng-if="selectedPage != null"-->
    <!--<div class="images col-md-4" >
        
    </div>-->
    <!--<a ng-href="#" ng-repeat="path in selectedPage.images"><img ng-src="{{path}}"></a>-->
    <a data-lightbox="roadtrip" href="{{selectedPage.images}}" title="">
        <img width="33.3333%" height="100%" ng-src="{{selectedPage.images}}"/>
    </a>
    <div class="info col-md-8">
        <!--<div id="selectedPage_title" class="title" >{{selectedPage.title}}</div>-->
        <div id="selectedPage_title" class="title" ng-bind="selectedPage.title"> </div>
        <div class="text" ng-bind-html="deliberatelyTrustAsHtml(selectedPage.info)" > </div>
    </div>
</div>

<!--
<style type="text/css">
    .dNone{
        display: none;
    }
</style>
<div class="tour-box-large-description col-md-12" ng-if="selectedPage == null" ng-class="{'dNone': selectedPage == null}">
    &lt;!&ndash;<div class="images col-md-4" >

    </div>&ndash;&gt;
    &lt;!&ndash;<a ng-href="#" ng-repeat="path in selectedPage.images"><img ng-src="{{path}}"></a>&ndash;&gt;
    <a data-lightbox="roadtrip" href="{{selectedPage.images}}" title="">
        <img width="33.3333%" height="100%"  ng-src="{{selectedPage.images}}"/>
    </a>
    <div class="info col-md-8">
        <div id="selectedPage_title" class="title">{{selectedPage.title}}</div>
        <div class="text" ng-bind-html="deliberatelyTrustAsHtml(selectedPage.info)" > </div>
    </div>
</div>-->
