<!DOCTYPE html>
<div class="tour-info-panel">
    <div class="tp-head">
        <div class="day">
            Day 2
        </div>
        <div class="tour-name">
            Yerevan City Tour
        </div>
    </div>
    <div class="tp-body">
        Breakfast at the hotel. The guide will meet group at the lobby of the hotel lobby. Today we visit: Ethnographic Museum of Erebuni, built in 782 BC and located on a hill of Arin Berd. Tsitsernakaberd Memorial Complex dedicated to the memory of victims of the genocide of 1915 and Armenian Genocide Museum. Lunch time. In the evening a panoramic tour of the capital of Armenia, which is one of the oldest cities in the world. We’ll see the Republic Square, the National Opera and Ballet Theater, cultural - architectural complex Cascade, the monument "Mother Armenia". Dinner and overnight in Yerevan.
    </div>
</div>