<!--<div class="element effect-1 once">-->
    <article>

        <img class="image-item"
             width="400px"
             height="300px"
             ng-src="{{page.img}}"
             alt="{{page.title}}">


        <div class="hover">

            <header>
                <h2 class="entry-title">{{page.name}}</h2>
            </header><!-- header -->

            <p>{{page.shortDesc}}</p>

            <a href="{{page.url_}}" class="link"><ng-locale name="more.info.button"></ng-locale></a>

        </div><!-- .hover -->

    </article>
<!--</div>&lt;!&ndash; .element &ndash;&gt;-->