.site .widget.stainedglass_page {
	color: #666;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.9);
}

.site .wide .widget.stainedglass_page .widgettitle,
.site .wide .widget.stainedglass_page .widget-title {
	margin: 0;
}
.site .wide .widget.stainedglass_page > div {
	max-width: 100%;
	margin: 0 20px !important;
}

.wide .widget-area .widget .main-wrapper.no-sidebar {
	margin: 0 auto;
}	
.wide .widget-area .widget .main-wrapper {
	padding: 20px 0 0 0;
}

